<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | </title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Nope, can't help you. Just suck it up.
    </p>
  </body>
</html>
