<% provide(:heading, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:heading) %></title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p>
      Pretend to buy stuff. It's fun.
    </p>
  </body>
</html>
