<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-5">
    <section class="user_info">
      <h1>Review</h1>
    </section>

    <p>
      <strong>Review:</strong>
      <%= @review.content %>
    </p>

</div>
